<h1>Users#Index</h1>

<%= simple_form_for users_path, method: :get do |f| %>
  <div class="container">
    <div class="row">
      <div class="col">
          <%= f.input :term, input_html: { name: "term" }, placeholder: "Enter user's name or surname" %>
        </div>
        <div class="col text-center">
          <%= f.button :submit, value: 'Search!' %>
      </div>
    </div>
  </div>
<% end %>




<table>
  <tr>
    <th>Username</th>
    <th>Firstname</th>
    <th>Lastname</th>
  </tr>

<%= render "user", users: @users %>

</table>
