.admin-user-card {
  position: relative;
  min-height: 280px;
  height: auto;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  min-width: 400px;
}

.admin-user-card__avatar img{
  position: absolute;
  height: auto;
  max-width: 100px;
}

.admin-user-card__id {
  display: flex;
  justify-content: space-between;
  min-height: 112px;
  border-bottom: 1px solid #bab4b4;
}

.admin-user-card__options {
  margin: 10px;
}
